html,
body {
  color: white;
	margin: 0;
	padding: 0;
	background-color: rgb(9, 17, 29);
	font-family: 'Nunito', sans-serif;
}

body {
	font-family: 'Nunito', sans-serif;
	font-weight: 100;
}

.mainBG {
	display: flex;
	flex: row;
	width: 100%;
	height: 100vh;
	background-color: rgb(9, 17, 29);
}

.header {
	top: 0;
	position: fixed;
	display: flex;
	flex: row;
	width: 100%;
	height: 4.5vh;
}


/* Container for flexboxes */

.row {
	display: -webkit-flex;
	display: flex;
}
.row2{
	display: -webkit-flex;
	display: flex;
	background-color: whitesmoke;
}

.column1 {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-top: 4.5vh;
	height: 95.5vh;
	/* Should be removed. Only for demonstration */
	background: url(https://i.imgur.com/F4h0e4p.png);
	background-size: cover;
}

.column2 {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	color: white;
	margin-top: 6vh;
	margin-left: 4.5vh;
	margin-right: 4.5vh;
	margin-bottom: 4.5vh;
	height: 82vh;
}
.column25 {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 0.6;
	color: white;
	margin-top: 6vh;
	margin-left: 4.5vh;
	margin-right: 4.5vh;
	margin-bottom: 4.5vh;
	height: 82vh;
}

.columnProjectImage {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	color: white;
	margin-top: 6vh;
	margin-left: 4.5vh;
	margin-right: 4.5vh;
	margin-bottom: 4.5vh;
	height: 40vh;
	text-align: right;
}
.columnProjectImage2 {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 2;
	color: white;
	margin-top: 6vh;
	margin-left: 4.5vh;
	margin-right: 4.5vh;
	margin-bottom: 4.5vh;
	height: 40vh;
	text-align: right;
}

.columnProjectText {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 3;
	color: white;
	margin-top: 6vh;
	margin-left: 4.5vh;
	margin-right: 5.5vh;
	margin-bottom: 4.5vh;
	height: 40vh;
}

.column3 {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-top: 4.5vh;
	height: 95.5vh;
	/* Should be removed. Only for demonstration */
	background: url(https://i.imgur.com/OiESGDF.jpg);
	background-size: cover;
}

.column4 {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-top: 4.5vh;
	height: 95.5vh;
	/* Should be removed. Only for demonstration */
	background: url(https://i.imgur.com/F4h0e4p.png);
	background-size: cover;
}

.column5 {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-top: 4.5vh;
	height: 95.5vh;
	/* Should be removed. Only for demonstration */
	background: url(https://i.imgur.com/VVULL4m.png);
	background-size: cover;
}

.column {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-top: 4.5vh;
	height: 95.5vh;
	/* Should be removed. Only for demonstration */
}

#centerIm {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-top: 4.5vh;
	height: 90.5vh;
	/* Should be removed. Only for demonstration */
	background: url(https://i.imgur.com/YJMzoTP.png);
	background-size: cover;
	background-position: center;
	/* 4% might be centered */
}

#centerIm:hover {
	background: url(https://i.imgur.com/1cW3Jy1.png) no-repeat;
  margin-top: 4.5vh;
	height: 90.5vh;
	background-position: center;
  background-size: cover;
}

#title {
	color: white;
	margin: auto 1.3vh;
}

#titleSocials {
	color: white;
	margin: auto .65vh;
	height: 3vh;
}

#titleSocialsEnd {
	color: white;
	margin: auto .65vh;
	height: 3vh;
	margin-right: 2.3vh;
}

#titleEnd {
	color: white;
	margin: auto 1.3vh;
	margin-right: 2.3vh;
}

.filler {
	flex-grow: 1;
	min-width: 0;
}

#title:link {
	text-decoration: none;
}

#title:hover {
	text-decoration: none;
	color: rgb(236, 195, 125)
}

#titleEnd:link {
	text-decoration: none;
}

#titleEnd:hover {
	text-decoration: none;
	color: rgb(236, 195, 125)
}

#links {
	color: orange;
}

#links:link {
	text-decoration: none;
}

#links:hover {
	text-decoration: none;
	color: rgb(236, 195, 125)
}