html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(20,41,64);
  }

body {
    font-family: 'Futura';
    font-weight: 100;
  }
.mainBG {
    display: flex;
    flex: row;
    width: 100%;
    height: 100vh;
    background-color: rgb(20,41,64);
    
}
.header {
      top: 0;
      position: fixed;
      display: flex;
      flex: row;
      width: 100%;
      height: 4.5vh;
      background-color: rgb(41,41,41);
  }

/* Container for flexboxes */
.row {
    display: -webkit-flex;
    display: flex;
  }

.column1 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-top: 4.5vh;
    height: 95.5vh; /* Should be removed. Only for demonstration */
    background: url(https://i.imgur.com/sZZVFCk.png);
    background-size: cover; 
  }

.column2 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: white;
    margin-top: 6vh;
    margin-left: 4.5vh;
    margin-right: 4.5vh;
    margin-bottom: 4.5vh;
    height: 82vh; /* Should be removed. Only for demonstration */
    background-color:rgb(20,41,64);
  }

  .column3 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-top: 4.5vh;
    height: 95.5vh; /* Should be removed. Only for demonstration */
    background: url(https://i.imgur.com/OiESGDF.jpg);
    background-size: cover; 
  }

  .column4 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-top: 4.5vh;
    height: 95.5vh; /* Should be removed. Only for demonstration */
    background: url(https://i.imgur.com/iCbUwiE.png);
    background-size: cover; 
  }

  .column5 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-top: 4.5vh;
    height: 95.5vh; /* Should be removed. Only for demonstration */
    background: url(https://i.imgur.com/mSm7olf.png);
    background-size: cover; 
  }

 

.column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-top: 4.5vh;
    height: 95.5vh; /* Should be removed. Only for demonstration */
  }
  
#centerIm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 100%;
    height: 100%;
    margin: auto auto; */
    height: 100vh;
    width: 100vh;
    background: url("https://i.imgur.com/YJMzoTP.png") no-repeat;
    padding-right: 4.3%; /* 4% might be centered */
}
#centerIm:hover {
    background: url("https://i.imgur.com/1cW3Jy1.png") no-repeat;
}
#title {
    color: white;
    margin: auto 1.3vh;
  }
#titleSocials {
    color: white;
    margin: auto .65vh;
    height: 3vh;
  }
#titleSocialsEnd {
  color: white;
  margin: auto .65vh;
  height: 3vh;
  margin-right: 2.3vh;
}
#titleEnd {
    color: white;
    margin: auto 1.3vh;
    margin-right: 2.3vh;
  }
.filler {
    flex-grow: 1;
    min-width: 0;
  }

#title:link { text-decoration: none; }
#title:hover {
    text-decoration: none;
    color: rgb(236,195,125)
}

#titleEnd:link { text-decoration: none; }
#titleEnd:hover {
    text-decoration: none;
    color: rgb(236,195,125)
}